<div class="hero-unit">
    <h1>'Allo, 'Allo, oscar!</h1>

    <ul>
        <li>
            <a href="#/formulario">Formulario</a>
        </li>
        <li>
            <a href="#/listado">Listado</a>
        </li>
        <li>
            <a href="#/showAndHide">Show and Hide</a>
        </li>
        <li>
            <a href="#/classAndCssStyle">Class And Css Style</a>
        </li>
        <li>
            <a href="#/directiva">Directiva</a>

        </li>
        <li>
            <a href="#/directiva2">Directiva compuesta por dos</a>

        </li>
        <li>
            <a href="#/watch">$watch</a>

        </li>
    </ul>


</div>
