<div class="hero-unit">
    <h1>'Allo, 'Allo, oscar!</h1>
    <p>You now have</p>
    <ul>
        <li ng-repeat="thing in awesomeThings">{{thing}}</li>
    </ul>
    <p>installed.</p>
    <h3>Enjoy coding! - Yeoman</h3>

    <ul>
        <li>
            <a href="#/directiva">Prueba Directiva1</a>

        </li>
         <li>
            <a href="#/directiva2">Prueba Directiva2</a>

        </li>
        <li>
            <a href="#/formulario">Prueba Formulario</a>
        </li>
        <li>
            <a href="#/listado">Listado</a>
        </li>
        <li>
            <a href="#/showAndHide">Show and Hide</a>
        </li>
         <li>
            <a href="#/classAndCssStyle">Class And Css Style</a>
        </li>
    </ul>


</div>
